@import "../../css/units.css";
@import "../../css/colors.css";

.sprite-selector-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    font-size: 0.8rem;
    color: $text-primary;
    border: 2px solid $ui-black-transparent;
    border-radius: $space;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: border-color 0.05s ease, box-shadow 0.15s ease;
}

.sprite-selector-item.is-selected {
    box-shadow: 0 0 0 4px $looks-transparent;
    border: 2px solid $looks-secondary;
    background: $ui-white;
}

.sprite-selector-item:hover {
    border: 2px solid $looks-secondary;
    background: $ui-white;
}

.sprite-selector-item:hover .sprite-image,
.is-selected .sprite-image {
    filter: drop-shadow(0 0 2px $ui-black-transparent);
}

.sprite-image-outer {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
}

.sprite-image-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sprite-image {
    user-select: none;
    pointer-events: none;
    max-width: 32px;
    max-height: 32px;
}

.sprite-info {
    padding: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-size: 0.625rem;
    color: $text-primary;
    user-select: none;
}

.sprite-name,
.sprite-details {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}

.sprite-details {
    margin-top: 0.125rem;
    font-size: 0.5rem;
}

.is-selected .sprite-info {
    background: $looks-secondary;
    color: #ffffff;
}

.delete-button {
    position: absolute;
    top: -0.625rem;
    z-index: auto;
    transition: transform 0.1s ease;
}

.delete-button:hover {
    transform: scale(1.1);
}

[dir="ltr"] .delete-button {
    right: -0.625rem;
}

[dir="rtl"] .delete-button {
    left: -0.625rem;
}

.number {
    position: absolute;
    top: 0.15rem;
    font-size: 0.625rem;
    font-weight: bold;
    z-index: 2;
}

[dir="ltr"] .number {
    left: 0.15rem;
}

[dir="rtl"] .number {
    right: 0.15rem;
}
