@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.stage-wrapper {
    position: relative;
}

.stage-wrapper * {
    box-sizing: border-box;
}

.stage-canvas-wrapper {
    user-select: none;
}

.offset-controls .stage-canvas-wrapper {
    padding-top: 44px;
}

.stage-wrapper.full-screen {
    position: fixed;
    top: $stage-menu-height;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index-stage-wrapper-overlay;
    background-color: $fullscreen-background;
    padding: $stage-full-screen-stage-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stage-wrapper.embedded {
    background-color: transparent;
}
