@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/z-index.css";
@import "../../css/default-colors.css";

.title-field {
    border: 1px dashed $ui-black-transparent;
    border-radius: $form-radius;
    -webkit-border-radius: $form-radius;
    -moz-border-radius: $form-radius;
    background-color: $project-title-inactive;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    height: auto;
    padding: .5rem;
}

.title-field {
    color: $menu-bar-foreground;
    font-weight: bold;
    font-size: .8rem;
}

.title-field::placeholder {
    color: $menu-bar-foreground;
    opacity: 0.8;
    font-weight: normal;
    font-size: .8rem;
    font-style: italic;
}

.title-field:hover {
    background-color: $project-title-hover;
    border-color: $ui-black-transparent;
}

.title-field:focus {
    outline:none;
    border: 1px solid $ui-transparent;
    -webkit-box-shadow: 0 0 0 calc($space * .5) $ui-white-transparent-default;
    box-shadow: 0 0 0 calc($space * .5) $ui-white-transparent-default;
    background-color: $ui-white;
    color: $text-primary;
}
