[class*="gui_tabs_"] {
    --sa-category-width: 60px;
    --sa-flyout-width: 250px;
}

.sa-flyout-border-1,
.sa-flyout-border-2 {
    position: absolute;
    z-index: 40;
    top: 0;
    bottom: 8px;
    left: -1px;
}

[dir="rtl"] .sa-flyout-border-1,
[dir="rtl"] .sa-flyout-border-2 {
    left: auto;
    right: -1px;
}

.sa-flyout-border-1 {
    border-left: 1px solid var(--editorDarkMode-page, hsla(215, 100%, 95%, 1));
}

.sa-flyout-border-2 {
    border-left: 1px solid var(--editorDarkMode-border, rgba(0, 0, 0, 0.15));
}

.blocklyFlyout,
.blocklyFlyoutScrollbar {
    transition-property: margin;
}

[dir="ltr"] .blocklyFlyout.sa-flyoutClose,
[dir="ltr"] .blocklyFlyoutScrollbar.sa-flyoutClose {
    margin-left: calc(0px - var(--sa-flyout-width) - 10px);
}

[dir="rtl"] .blocklyFlyout.sa-flyoutClose,
[dir="rtl"] .blocklyFlyoutScrollbar.sa-flyoutClose {
    margin-left: calc(var(--sa-flyout-width) + 10px);
}

.sa-flyout-placeHolder {
    display: var(--hideFlyout-placeholderDisplay) !important;
    position: absolute;
    height: 100%;
    width: calc(var(--sa-flyout-width) + 1px);
    top: 0;
}

[dir="ltr"] .sa-flyout-placeHolder {
    left: calc(var(--sa-category-width) + 1px);
}

[dir="rtl"] .sa-flyout-placeHolder {
    right: calc(var(--sa-category-width) + 1px);
}

.sa-lock-object {
    display: var(--hideFlyout-lockDisplay) !important;
    transform: translate(calc(var(--sa-flyout-width) - 15px - 32px), 3px);
    width: 32px;
    height: 32px;
}

[dir="rtl"] .sa-lock-object {
    transform: translate(15px, 3px);
}

.sa-lock-button {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--editorDarkMode-accent, white);
    border: 1px solid var(--editorDarkMode-border, rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.sa-lock-object.locked .sa-lock-button {
    background-color: var(--editorDarkMode-primary, #855cd6);
    border-color: var(--editorDarkMode-primary-variant, #714eb6);
}

.sa-lock-button img {
    width: 20px;
    user-select: none;
    filter: var(--editorDarkMode-accent-filter, none);
}

.sa-lock-object.locked img {
    filter: var(--editorDarkMode-primary-filter, none);
}

.sa-hide-flyout-not-fullscreen .sa-body-editor [class*="gui_stage-and-target-wrapper"] {
    position: relative;
    z-index: 43;
    padding-inline: 0.5rem;
    background-color: var(--editorDarkMode-page, hsl(215, 100%, 95%));
}

[class*="gui_stage-and-target-wrapper_"] {
    padding: 0;
}

.Popover {
    z-index: 51;
}
