@import "../../css/colors.css";
@import "../../css/units.css";

.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.delete-button-visible {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 1.75rem;
    height: 1.75rem;
    box-shadow: 0 0 0 2px $looks-transparent;
    background-color: $looks-secondary;
    color: $ui-white;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.delete-button-visible:hover {
    transform: scale(1.1);
}

.delete-icon {
    position: relative;
    margin: 0.25rem;
    user-select: none;
    transform-origin: 50%;
}
