@import "../../css/colors.css";
@import "../../css/default-colors.css";

.spinner {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 0.125rem solid $ui-white-transparent-default;
    box-sizing: content-box;
}

.spinner::before,
.spinner::after {
    width: 1.25rem;
    height: 1.25rem;
    content: '';
    border-radius: 50%;
    display: block;
}

.spinner::after {
    position: absolute;
    top: -0.125rem;
    left: -0.125rem;
    border: 0.125rem solid transparent;
    border-top-color: $ui-white-default;
    animation: spin 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.small {
    width: 0.5rem;
    height: 0.5rem;
}

.small::before,
.small::after {
    width: 0.5rem;
    height: 0.5rem;
}

.large {
    width: 2rem;
    height: 2rem;
}

.large::before,
.large::after {
    width: 2rem;
    height: 2rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner.success {
    border-color: $extensions-transparent;
}

.spinner.success::after {
    border-top-color: $extensions-primary;
}

.spinner.warn {
    border-color: $error-transparent;
}

.spinner.warn::after {
    border-top-color: $error-primary;
}

.spinner.info {
    border-color: $ui-white-transparent-default;
}

.spinner.info::after {
    border-top-color: $ui-white-default;
}

.spinner.primary {
    border-color: $looks-transparent;
}

.spinner.primary::after {
    border-top-color: $looks-secondary;
}
