@import "../../css/units.css";
@import "../../css/colors.css";

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    background: $ui-white;
    border-radius: 6.25rem;
    user-select: none;
    height: $library-filter-bar-height;
    position: relative;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-icon {
    position: absolute;
    top: 0;
    height: 1rem;
    width: 1rem;
}

[dir="ltr"] .filter-icon {
    left: 0;
    margin: 0.75rem 0.75rem 0.75rem 1rem;
}

[dir="rtl"] .filter-icon {
    right: 0;
    margin: 0.75rem 1rem 0.75rem 0.75rem;
    transform: scaleX(-1);
}

.filter:focus-within {
    box-shadow: 0 0 0 3px $looks-transparent;
}

.x-icon-wrapper {
    opacity: 0;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 1.25rem;
    width: 1.25rem;
    margin: 0.625rem;
    border-radius: 50%;
    pointer-events: none;
    cursor: default;
    transition: opacity 0.1s ease;
}

[dir="ltr"] .x-icon-wrapper {
    right: 0;
}

[dir="rtl"] .x-icon-wrapper {
    left: 0;
}

.filter.is-active .x-icon-wrapper {
    pointer-events: auto;
    cursor: pointer;
    opacity: 1;
}

.filter.is-active .x-icon-wrapper:hover {
    transform: scale(1.15);
}

.x-icon {
    position: relative;
    margin: 0.25rem;
    user-select: none;
    transform: translateX(0.5rem);
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.filter.is-active .x-icon-wrapper .x-icon {
    transform: translateX(0);
}

.filter-input {
    flex-grow: 1;
    height: $library-filter-bar-height;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: 0;
    color: $text-primary;
    font-size: 0.875rem;
    cursor: text;
}

[dir="ltr"] .filter-input {
    padding: 0.625rem 2rem 0.625rem 2.75rem;
}

[dir="rtl"] .filter-input {
    padding: 0.625rem 2.75rem 0.625rem 2rem;
}

.filter-input::placeholder {
    opacity: 0.5;
    color: $text-primary;
    font-size: 0.875rem;
}

[dir="ltr"] .filter-input::placeholder {
    padding: 0 0 0 0.25rem;
}

[dir="rtl"] .filter-input::placeholder {
    padding: 0 0.25rem 0 0;
}
