@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

/* Layout */
.page-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.body-wrapper {
    flex-grow: 1;
    background-color: $ui-primary;
}

.body-wrapper * {
    box-sizing: border-box;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}

.editor-wrapper {
    flex-basis: calc(1024px - 408px - (($space + $stage-standard-border-width) * 2));
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Tabs */
.tab-list {
    height: $stage-menu-height;
    width: 250px;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0 !important;
    border-bottom: 0 !important;
    color: $text-primary;
}

.tab {
    flex-grow: 1;
    height: 80%;
    margin-bottom: 0;
    border-radius: 0.75rem 0.75rem 0 0;
    border: 1px solid $ui-black-transparent;
    padding: 0.125rem 1.25rem 0;
    font-size: 0.75rem;
    background-color: $ui-tertiary;
    color: $text-primary-transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

[dir="ltr"] .tab {
    margin-left: -0.5rem;
}

[dir="rtl"] .tab {
    margin-right: -0.5rem;
}

[dir="ltr"] .tab:nth-of-type(1) {
    margin-left: 0;
}

[dir="rtl"] .tab:nth-of-type(1) {
    margin-right: 0;
}

/* Tab layering for overlapping effect */
.tab:nth-of-type(1) {
    z-index: 3;
}

.tab:nth-of-type(2) {
    z-index: 2;
}

.tab:nth-of-type(3) {
    z-index: 1;
}

.tab:hover {
    background-color: $ui-primary;
}

.tab.is-selected {
    height: 90%;
    color: $looks-secondary;
    background-color: $ui-white;
    z-index: 4;
}

.tab img {
    width: 1.375rem;
    filter: grayscale(100%);
}

[dir="ltr"] .tab img {
    margin-right: 0.125rem;
}

[dir="rtl"] .tab img {
    margin-left: 0.125rem;
}

[dir="rtl"] .tab:nth-of-type(1) img {
    transform: scaleX(-1);
}

[dir="rtl"] .tab:nth-of-type(3) img {
    transform: scaleX(-1);
}

.tab.is-selected img {
    filter: none;
}

.tab.is-selected:after {
    display: none;
}

.tab.is-selected:focus {
    outline: none;
    box-shadow: none;
    border-color: $ui-black-transparent;
}

.tab.is-selected:focus:after {
    display: none;
}

.tabs {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.tab-panel {
    position: relative;
    flex-grow: 1;
    display: none;
}

.tab-panel.is-selected {
    display: flex;
}

/* Blocks */
.blocks-wrapper {
    flex-grow: 1;
    position: relative;
}

/* Stage and Target */
.stage-and-target-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: $space;
    padding-right: $space;
    flex-basis: 0;
}

.target-wrapper {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    padding-top: $space;
    min-height: 0;
}

/* Extension Button */
.extension-button-container {
    width: 3.75rem;
    height: 3.25rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-index-extension-button;
    background: $looks-secondary;
    border: 1px solid $looks-secondary;
    box-sizing: content-box;
}

$fade-out-distance: 15px;

/* Gradient fade effect above extension button */
.extension-button-container:before {
    content: "";
    position: absolute;
    top: calc(calc(-1 * $fade-out-distance) - 1px);
    left: -1px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    height: $fade-out-distance;
    width: calc(100% + 0.5px);
}

.extension-button {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.15s ease;
}

.extension-button:hover {
    opacity: 0.9;
}

.extension-button-icon {
    width: 1.75rem;
    height: 1.75rem;
}

[dir="rtl"] .extension-button-icon {
    transform: scaleX(-1);
}

.extension-button > div {
    margin-top: 0;
}

/* Watermark */
.watermark {
    position: absolute;
    top: 1.25rem;
    pointer-events: none;
}

[dir="ltr"] .watermark {
    right: 1.25rem;
}

[dir="rtl"] .watermark {
    left: 1.25rem;
}

/* Menu Bar */
.menu-bar-position {
    position: relative;
    z-index: $z-index-menu-bar;
}

/* Alerts */
.alerts-container {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: $z-index-alerts;
    position: absolute;
    margin-top: 3.5rem;
    pointer-events: none;
}

/* Modal body lock */
:global(.ReactModal__Body--open) {
    overflow: hidden;
}

/* Fullscreen */
.fullscreen-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}
