.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ff4c4c;
    color: white;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.code {
    font-family: monospace;
}

.emphasis {
    text-decoration: underline;
    font-weight: bold;
}
