/* Z-Index Scale */

/* Stage Elements */
$z-index-extension-button: 42;
$z-index-stage-indicator: 45;
$z-index-add-button: 46;
$z-index-tooltip: 47;
$z-index-monitor: 48;
$z-index-stage-question: 49;

/* UI Elements */
$z-index-card: 480;
$z-index-alerts: 490;
$z-index-menu-bar: 491;
$z-index-loader: 490;
$z-index-modal: 510;

/* Drag States */
$z-index-drag-layer: 1000;
$z-index-monitor-dragging: 1010;
$z-index-dragging-sprite: 1020;

/* Stage Overlays */
$z-index-stage-color-picker-background: 2000;
$z-index-stage-with-color-picker: 2010;
$z-index-stage-header: 500;
$z-index-stage-wrapper-overlay: 500;

/* Context Menu */
$z-index-context-menu: 10000;
