[class^="sprite-info_sprite-info_"] {
    height: 0;
    padding: 0 0.75rem;
    overflow: hidden;
    transition-property: height, padding, transform;
    transition-duration: var(--spriteProperties-transitionDuration);
}

.sa-hide-sprite-properties [class^="sprite-info_sprite-info_"] {
    border: none;
}

[class^="sprite-selector_scroll-wrapper_"],
.sa-hide-sprite-properties [class^="sprite-selector_scroll-wrapper_"] {
    height: 100%;
    transition-property: height;
    transition-duration: var(--spriteProperties-transitionDuration);
}

.sa-show-sprite-properties [class^="sprite-info_sprite-info_"] {
    height: calc(6.5rem + 5px);
    padding: 0.75rem;
    padding-bottom: 0;
}
.sa-sprite-properties-wide-locale.sa-show-sprite-properties [class^="sprite-info_sprite-info_"] {
    height: calc(6.5rem + 5px + 2rem);
}
[class^="label_input-group-column_"] {
    line-height: 1.2;
}

.sa-show-sprite-properties [class^="sprite-selector_scroll-wrapper_"] {
    height: calc(100% - 6.5rem - 5px);
}
.sa-sprite-properties-wide-locale.sa-show-sprite-properties [class^="sprite-selector_scroll-wrapper_"] {
    height: calc(100% - 6.5rem - 5px - 2rem);
}

.sa-sprite-properties-info-btn {
    display: flex !important;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    top: -2px;
    left: -2px;
    border: none;
    border-radius: 100%;
    background-color: var(--editorDarkMode-primary, hsla(260, 60%, 60%, 1));
}
[dir="rtl"] .sa-sprite-properties-info-btn {
    left: auto;
    right: -2px;
}
.sa-show-sprite-properties .sa-sprite-properties-info-btn {
    display: none !important;
}

.sa-sprite-properties-info-btn img {
    width: calc(1rem - 6px);
    height: calc(1rem - 6px);
    filter: var(--editorDarkMode-primary-filter);
}

.sa-sprite-properties-close-btn {
    width: 100%;
    height: 1.25rem;
    padding: 0;
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: auto;
    background-color: transparent;
    user-select: none;
}

.sa-sprite-properties-close-btn img {
    filter: var(--editorDarkMode-accent-filter);
    transition: opacity 0.25s ease-out;
}

.sa-sprite-properties-close-btn:hover img {
    opacity: 0.75;
}

[class*="action-menu_main-button_"] {
    user-select: none;
}
