@import "../../css/units.css";
@import "../../css/colors.css";

.input-form {
    height: 2.25rem;
    padding: 0 0.875rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: $text-primary;
    background-color: $input-background;
    border: 1px solid $ui-black-transparent;
    border-radius: 0.625rem;
    outline: none;
    cursor: text;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}

.input-form::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.input-form:hover {
    border-color: rgba(0, 0, 0, 0.2);
}

.input-form:focus {
    border-color: $motion-primary;
    box-shadow: 0 0 0 3px rgba(255, 138, 30, 0.15);
}

.input-small {
    width: 3.5rem;
    padding: 0 0.5rem;
    text-overflow: clip;
    text-align: center;
}

.input-form::-webkit-outer-spin-button,
.input-form::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-form[type=number] {
    -moz-appearance: textfield;
}
