.file-name {
    font-family: monospace;
    user-select: text;
    word-wrap: break-word;
}

.file-name::before {
    content: '"';
}

.file-name::after {
    content: '"';
}

.extension {
    text-decoration: underline;
}
